h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color:grey;
}
p {
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size: 40px;
}
p2 {
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
}