@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#F4E7D3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444B57;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #F4E7D3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #444B57;
  }

.p {
    text-align: center;
}
.image-container {
    text-align: center;
    display: flex;
}
.footer-container {
    background-color:#444B57;
    padding-bottom: 4rem; 
}
.h2 {
    text-indent: 177px 175px;
}
.footer {
    width: 80%;
    height: 40vh;
    background-color:#444B57;
    display: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}