@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#F4E7D3;
}

.logo {
  align-items: left;
  width: 58px;
  height: 61px;
  flex-shrink: 0;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 15px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  align-items: left;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 24px;
  font-style: normal;
  font-size: 36px;
  font-family: "Lato", sans-serif;
}

h2 {
  text-indent: 177px 175px;
  padding: 5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 30px;
  width: 176px;
  height: 51px;
  flex-shrink: 0;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 20;
  line-height: normal;
}

p {
  text-align: left;
  margin-left: 60px;
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
  font-family: "Lato", sans-serif;
  font-size: 22px;
 }

p2 {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 20px;
 }

 p3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
 }

li {
  float: right;
  border: 1px solid#444B57;
  margin-top: 4rem;
}

li a {
  display: block;
  color: #F4E7D3;
  background-color: #444B57;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F4E7D3;
  color:#444B57;
}

.image-container {
  text-align: center;
}

.footer-container {
  background-color:#444B57;
  padding-bottom: 4rem; 
}   

.footer {
  width: 80%;
  height: 5vh;
  background-color: #444B57;
  color: #444B57;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-shrink: 0;
  margin-top: 2rem;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  margin-right: 12rem;
  background-color: #444B57;
  text-align: center;
  word-spacing: 50%;
  text-align: left;
}

.footer-heading h4 {
  margin-bottom: 2rem;
}

.footer-2 {
  color: #444B57;
  text-decoration: none;
  margin-bottom: 0.5rem;
  background-color: #444B57;
  text-align: center;
}

.footer-heading a:hover {
  color: #444B57;
  transition: 0.3s ease-out;
}

.footer-3 {
  color: #444B57;
  text-decoration: none;
  background-color: #444B57;
  text-align: right;
}

.footer-3 h4 {
  text-align: right;
}

.footer-3 a {
  text-align: right;
}